.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

.tutorial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255,255,255);
  font-family: Inter, sans-serif;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 0;
}

.text {
  width: 634px;
  font-family: Inter, sans-serif;
  color: rgb(255,255,255);
  border-color: transparent;
  margin-bottom: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 15px;
  margin-bottom: 0;
}



.cube-face {
  width: 180px;
  height: 180px;
  border-radius: 15px;
}



#rotate-the-corners-of-the-second-layer{
    background-color: rgba(187, 59, 59, 0.9);
}
.tutorial-content-mobile{display: none;}

@media (max-width: 768px){
    .tutorial-content{display: none;}
.card{
  height: 196px;
  width: 180px;
  justify-content: flex-start;
}
.cube-face{
  height: 108px;
  width: 108px;
}

.text{
  width: 100%;
}
.tutorial-content-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  margin-top: 20px;
  padding: 0 5px;
}
.video-wrapper{
  height: 206px;
}
}