.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 20px;
  padding: 0 10px;
}

.tutorial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.tutorial-content:last-child {
    margin-bottom: 20px;
}

.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255,255,255);
  font-family: Inter, sans-serif;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 0;
}

.text {
  width: 100%;
  font-family: Inter, sans-serif;
  color: rgb(255,255,255);
  border-color: transparent;
  margin-bottom: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 15px;
  margin-bottom: 0;
}



.cube-face {
  width: 180px;
  height: 180px;
  border-radius: 15px;
}

.video-wrapper {
    border: 2px solid #ff1500;
    transition: border-color 0.3s ease;
}
#introduction{
    background-color: rgba(244, 46, 46, 0.9);
}

a{
  text-decoration: none;
  color: rgb(184, 59, 59);
}

@media (max-width: 768px){
  .card{
  height: 180px;
  width: 180px;
}
.cube-face{
  height: 108px;
  width: 108px;
}
.title{
  margin-top: 20px;
}
}